{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}

    <p>Username: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Register date: {{ user.registerDate }}</p>
    <p>Contry: {{ user.country }}</p>
    
{% endblock %}
